:root {
    --color-word: #000200;
    --color-main-light: #EDFAF3;
    --color-main-midl: #D3ECDE;
    --color-main-dark: #7DB798;
    --color-main-par: #505a5b;
    --color-footer: #7DB79E;
}

    $bp-mobile: 480px;
    $bp-tablet: 768px;
    $bp-desktop: 1280px;


    
    $bp-extraSmall: 360px;
    $bp-small: 640px;
    $bp-medium: 768px;
    $bp-large: 1024px;
    $bp-extraLarge: 1280px;
    $bp-XXLarge: 1536px;