@use '../styles/variables' as *;


.download-container {
  padding: 40px 20px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .download-card {
    background-color: var(--color-main-midl);
    border-radius: 24px;
    width: 100%;
    height: 450px;
    max-width: 1100px;
    display: flex;
    align-items: center;
    padding: 10px 80px;
    position: relative;
    overflow: hidden; 

    @media (max-width: 768px) {
      flex-direction: column;
      height: 700px;
      padding: 40px 20px;
      text-align: center;
    }

    .download-content {
      flex: 1;
      z-index: 2;

      .download-title {
        font-size: 42px;
        font-weight: 700;
        color:  var(--color-word);
        margin-bottom: 16px;

        @media (max-width: 480px) {
          font-size: 28px;
        }
      }

      .download-description {
        font-size: 18px;
        line-height: 1.5;
        color: rgba( var(--color-word), 0.8);
        margin-bottom: 32px;
      }

      .download-buttons {
        display: flex;
        gap: 16px;

        @media (max-width: 768px) {
          justify-content: center;
        }

        img {
          height: 45px;
          transition: transform 0.2s ease;

          &:hover {
            transform: scale(1.05);
          }
        }
      }
    }

    .download-mockup {
      position: relative;
      flex: 1;
      display: flex;
      justify-content: flex-end;
      z-index: 2;

      @media (max-width: 768px) {
        margin-top: 40px;
        justify-content: center;
      }

      img {
        position: relative;
        bottom: -10px;
        width: 100%;
        height: 100%;
        left: -30px;
        max-width: 300px;
        height: auto;
        z-index: 5;
      
        filter: drop-shadow(0 10px 20px rgba(0,0,0,0.1));
      }
      &::after {
        content: "";
        position: absolute;
        bottom: -70px;
        left: 19%;
        background-color: var(--color-main-dark);
        border-radius: 100% 100% 100% 100% ;
        width: 400px;
        height: 400px;
        z-index: 3;
      }
    }


    .star {
      position: absolute;
      color: white;
      font-size: 24px;
      opacity: 0.8;
      z-index: 10;
          @media (max-width: 768px) {
   display: none;
    }

      &-1 {
        bottom: 40px;
        right: 36%;
        font-size: 50px;
      }

      &-2 {
        
        right: 100px;
      }
    }
  }
}