.forgot-password-form {
  height: 600px;
  padding: 80px;
  display: flex;
  gap: 50px;
  justify-content: start;
  flex-direction: column;
  h2 {
    font-size: 50px;
  }
  form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    input {
       width: 100%;
      padding: 12px 20px;
      border: 1px solid var(--color-main-dark);
      border-radius: 10px;
      background-color: transparent;
      outline: none;
    }
    .btn-send {
      background-color: var(--color-main-dark);
      color: white;
      border-radius: 30px;
      padding: 15px;
      font-size: 18px;
      font-weight: bold;
      margin-top: 10px;
      transition: 0.3s;

      &:hover {
        filter: brightness(0.9);
      }
    }
  }
}
