
.main__section {
    height: calc(100vh - 80px);
    display: flex;
    justify-content: center;
    gap: 120px;
    align-items: center;
    align-content: center;
    // border: 1px solid black;
    background-color: var(--color-main-light);

    @media screen and (max-width: 1200px) {
        gap: 0;
    }
    @media screen and (max-width: 1000px) {
        flex-direction: column;
        height: 100%;
    }
    

    .main__section__item {
        justify-content: center;

        .main__section__item__title {
            display: flex;
            font-size: 80px;
            font-weight: 500;
            max-width: 700px;
            line-height: 90px;
            font-family: 'Inter';
            margin-top: 100px;
              @media screen and (max-width:850px) {
      font-size: 60px;
    }
        }

        .main__section__item__par {
            display: flex;
            margin-top: 30px;
            font-size: 25px;
            
            color: var(--color-main-par);
              @media screen and (max-width:850px) {
      font-size: 15px;
    }
        }

        .main__section__item__btn {
            margin-top: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 250px;
            height: 60px;
            border-radius: 30px;
            color: azure;
            font-size: 24px;
            border: none;
            cursor: pointer;
            background-color: var(--color-main-dark);
            transition: 0.6s;            
        }

        .main__section__item__btn:hover{
            box-shadow: 10px 8px 20px rgba(0, 0, 0, 0.3);
            transform: translateY(-1px);
            transition: 0.6s;
        }
    }

    .main__section__item__img {
        position: relative; 
        width: 860px;
        height: 700px;
        display: flex;
        justify-content: center;
        align-items: center;
        @media screen and (max-width: 850px) {
      width: 100%;
    }

        .main__section__item__img__shelf {
            position: relative;
            z-index: 2; 
            width: 1000px;
            height: 500px;
                 @media screen and (max-width: 850px) {
      width: 100%;
    }
        }

        .main__section__item__img__blob {
            position: absolute;
            top: 50%;
            left: 50%;
            z-index: 1; 
            width: 130%;
            transform: translate(-50%, -50%);
            animation: jellyWave 8s ease-in-out infinite;
            will-change: transform;
        }

        @keyframes jellyWave {
            0%,
            100% {
                transform: translate(-50%, -50%) scale(1, 1) rotate(0deg);
            }
            25% {
                transform: translate(-50%, -50%) scale(1.06, 0.94) rotate(-2deg);
            }
            50% {
                transform: translate(-50%, -50%) scale(1.01, 1.01) rotate(1deg);
            }
            75% {
                transform: translate(-50%, -50%) scale(0.94, 1.06) rotate(2deg);
            }
        }
    }
}