.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); 
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000;
  transition: all 0.3s ease;

  
  &.transparent {
    background: rgba(0, 0, 0, 0); 
    
    z-index: 2100; 
  }
}

.modal-content {

  background: var(--color-main-light);
  border-radius: 20px;
  position: relative;
  width: 100%;
  max-width: 500px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.2);
  text-align: center;
  
}

.modal-close {
  position: absolute;
  top: 15px;
  right: 20px;
  font-size: 30px;
  
  background: none;
  border: none;
  cursor: pointer;
  color: var(--color-word);
  
}

