@use "../styles/variables" as *;
.comments__section {
  height: 100vh;
  gap: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
@media screen and (max-width: 850px) {
       height: auto;
    }
  .comments__section__title {
    font-size: 60px;
    text-align: center;
  }

  .comments__section__box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    gap: 10px;
    :nth-child(7) {
    grid-column: 1 / -1; 
    justify-self: center; 

    width: 100%; 
    max-width: 400px; 
  }
    @media screen and (max-width: 1200px) {
      grid-template-columns: 1fr 1fr;
    }
    @media screen and (max-width: 850px) {
      grid-template-columns: 1fr;
    }

    .comments__section__box__item {
      width: 350px;
      display: flex;
      justify-content: center;
      flex-direction: column;

      .comments__section__box__item__coment {
        border-radius: 13px;
        background-color: var(--color-main-light);
        position: relative;
        box-shadow: 10px 8px 20px rgba(0, 0, 0, 0.3);

        .comments__section__box__item__coment__par {
          padding: 15px;
          line-height: normal;
        }
      }

      .comments__section__box__item__coment::after {
        content: "";
        position: absolute;
        bottom: -15px;
        left: 20px;
        border-width: 15px 15px 0;
        border-style: solid;
        border-color: var(--color-main-light) transparent transparent
          transparent;
      }

      .comments__section__box__item__content {
        display: flex;

        .comments__section__box__item__content__img {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          margin: 20px 0 0 15px;
        }

        .comments__section__box__item__content__info {
          display: flex;
          flex-direction: column;
          margin: 18px 0 0 8px;

          .comments__section__box__item__content__info__par:first-child {
            font-weight: bold;
          }

          .comments__section__box__item__content__info__par:last-child {
            color: rgb(182, 181, 181);
          }
        }
      }
    }
  }
}
