html{
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    width: 100%;
    
}
.wrapper {
    max-width: 1300px;
    margin: 0 auto;
    font-family: 'Inter';
    
  
}
.padings {
  padding: 0 16px 0 16px;
  @media screen and (max-width:768px){
    padding: 0 32px 0 32px;
  }
}
.light__bg {
  background-color: var(--color-main-light);
  width: 100%;
}
.footer__bg {
  background-color: var(--color-footer);
  width: 100%;
}